.book-shelf-header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 60px;
  box-shadow: 0 4px 2px -2px rgb(240, 235, 235);
  z-index: 1;
}
.order-select {
  border: none;
  background: none;
  padding: 4px 2px;
  box-shadow: 0 0 4px 1px rgb(207, 205, 205);
}
.order-select:focus {
  outline: none;
}
.book-shelf-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
